# Visual Studio
.vs/
*.user
*.suo

# Build output
bin/
obj/

# Logs
*.log

# Environment & Secrets
*.env
secrets.json

# Angular build
dist/
node_modules/

# Docker files
docker-compose.override.yml

# Temporary
*.tmp
*.temp
