services:
  musiclibrary-api:
    build:
      context: ./MusicLibrary.Api
      dockerfile: Dockerfile
    container_name: musiclibrary-api
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on:
      - db
    
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: musiclibrary-db
    environment:
      SA_PASSWORD: "12345678aA!"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    volumes:
      - dbdata:/var/opt/mssql/server
    
  volumes:
    dbdata: